
/* Header */
.header-row{
display: flex;
flex-direction: column;
align-items: center;
}

.covid-word{
border: 1px solid rgba(248, 113, 16, 0.986);
}






/* USA && WORLDWIDE */
.main-row{
display: flex;
justify-content: space-around;
}


/* USA */
.usa-total-cases{
border: 1px solid rgba(248, 113, 16, 0.986);
text-align: center;
}

#post-data{
border: 1px solid rgba(248, 113, 16, 0.986);
}
    
#post-data strong{

}

#select-states, #select-county{
min-width: 300px;    
}

#select-states, #select-county,#state-button,#county-button{
font-size: 20px;
}

#state-button,#county-button{

}

#search-county form {
display: inline;
}





/* WORLDWIDE */

.world-total-cases{
border: 1px solid rgba(248, 113, 16, 0.986);
text-align: center;
}

#select-country,#country-button{
font-size: 20px;
}    

#postW-data{
border: 1px solid rgba(248, 113, 16, 0.986);
}

        
