body{
    font-family:'Nunito', sans-serif;
}

/* Header */
.header-row{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 60px;
}

.covid-word{
font-size: 55px;
font-family:'Jacques Francois Shadow', cursive; 
color: rgb(35, 69, 109);
}

#time{
font-size: 25px;
}








/* USA && WORLDWIDE */
.main-row{
display: flex;
justify-content: space-around;
background-image: url(./images/1.jpg) ;
background-size: contain;                      
background-repeat:   no-repeat;
background-position: center top;
}


/* USA */
 
#usa{
 margin-left:-60px;   
}

#usa-center{
    font-family:'Nunito', sans-serif;   
    color: rgb(35, 69, 109);
    font-size: 35px;    
}

#totalU-cases p{
color: rgb(201, 86, 9);    
}

#totalU-deaths p {
    color: rgb(119, 4, 4);    
}

.usa-total-cases{
/* border: 1px solid rgba(248, 113, 16, 0.986); */
text-align: center;
}

#post-data{
/* border: 1px solid rgba(248, 113, 16, 0.986); */
color: gray ;
}
    
#post-data strong{
color: maroon;
}

#select-states, #select-county,#state-button,#county-button{
font-size: 20px;
}

#select-states, #select-county{
width: 200px;
}

#post-data:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5)
}







/* WORLDWIDE */

#worldwide{
    margin-right:-60px;   
   }
   
#worldwide-center{
    font-family:'Nunito', sans-serif;   
    color: rgb(35, 69, 109);
    font-size: 35px;
}

.world-total-cases{
/* border: 1px solid rgba(248, 113, 16, 0.986); */
text-align: center;
}

#totalW-cases p {
color: rgb(201, 86, 9); 
}

#totalW-recovered p {
color: #8ACA2B;   
}

#totalW-deaths p {
color: rgb(119, 4, 4);
}

#select-country{
 max-width: 200px;   
}

#select-country,#country-button{
font-size: 20px;
}    

#postW-data{
/* border: 1px solid rgba(248, 113, 16, 0.986); */
color: gray ;
}

#postW-data strong{
    color: maroon;
}

#postW-data:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5)
}



/* MEDIA */

/* IPHONE X */
@media (max-width: 376px) { 

    .covid-word{
     font-size: 40px;
     }
 
     #time{
     font-size: 20px;
     }
 
     #usa{
      padding: 300px;   
     }
     
     #worldwide{
      margin-top: -200px;  
     }
 
 
     .main-row{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         background-size: contain;                     
         background-repeat:   no-repeat;
         background-position: top;
     }
 
 
 }
 